.App {
  font-family: 'Segoe UI', Arial, sans-serif;
  min-height: 100vh;
  background: linear-gradient(135deg, #ece9e6, #ffffff);
  color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 95%;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: white;
  text-align: center;
  padding: 25px 0;
  margin-top: 10px;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.main-content {
  width: 90%;
  max-width: 1200px;
  background: #7a7a7a;
  border-radius: 20px;
  margin-top: 30px;
  padding: 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.song-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}

.song {
  background: linear-gradient(135deg, #2575fc, #6a11cb );
  color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.song:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 14px rgba(0,0,0,0.2);
}

.search-section {
  margin-bottom: 40px;
  text-align: center;
}

.search-section h2 {
  color: #333;
}

.search-input {
  width: 60%;
  padding: 10px;
  font-size: 1em;
  border: 2px solid #2575fc;
  border-radius: 25px;
  margin-right: 10px;
  outline: none;
  transition: border-color 0.3s;
}

.search-input:focus {
  border-color: #6a11cb;
}

.search-button {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.2s, box-shadow 0.2s;
}

.search-button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.section-title {
  text-align: center;
  margin: 30px 0 15px 0;
  color: #000000;
  font-size: 1.8em;
  font-weight: bold;
}

.library,
.search {
  margin-top: 20px;
}